body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00a1a7;
    padding: 15px 20px;
    color: white;
}

header h2 {
    margin: 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 30px auto;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
}

.table th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #ddd;
}

.table td {
    border-bottom: 1px solid #ddd;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table a {
    color: #00a1a7;
    text-decoration: none;
    font-weight: bold;
}

.table a:hover {
    text-decoration: underline;
}

.table thead {
    background-color: #f4f4f4;
    border-bottom: 2px solid #ddd;
}

tfoot {
    font-weight: bold;
    background-color: #f4f4f4;
}

tfoot td {
    padding: 12px;
}

